body{
  background-image: url('../images/mt\ fuji.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.welcome{
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 2px 2px black;
 }

 .div{
   height: 100vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .footer{
  grid-row-start: 2;
  grid-row-end: 3;
  font-weight: bold;
  text-align: center;
  font-size: 150%;
 }

 .link{
   color:aqua
 }
